<div class="main">
  <div class="wrapper">
    <div>
      <div class="picture"
           *ngFor="let item of searchData.results?.slice(0, searchData.results.length / 3); index as i">
        <div class="shadow">
          <div class="button-field">
            <button class="heart"><fa-icon [icon]="faHeart"></fa-icon></button>
            <button><fa-icon [icon]="faArrowDown"></fa-icon> </button>
          </div>
        </div>
        <img src="{{item.urls.small}}" alt="">
      </div>
    </div>
    <div>
      <div class="picture"
           *ngFor="let item of searchData.results?.slice(searchData.results.length / 3, -searchData.results.length / 3);
            index as i">
        <div class="shadow">
          <div class="button-field">
            <button class="heart"><fa-icon [icon]="faHeart"></fa-icon></button>
            <button><fa-icon [icon]="faArrowDown"></fa-icon> </button>
          </div>
        </div>
        <img src="{{item.urls.small}}" alt="">
      </div>
    </div>
    <div>
      <div class="picture"
           *ngFor="let item of searchData.results?.slice(searchData.results.length / 3 * 2); index as i">
        <div class="shadow">
          <div class="button-field">
            <button class="heart"><fa-icon [icon]="faHeart"></fa-icon></button>
            <button><fa-icon [icon]="faArrowDown"></fa-icon> </button>
          </div>
        </div>
        <img src="{{item.urls.small}}" alt="">
      </div>
    </div>
  </div>
</div>
