.main {
  display: flex;
  justify-content: center;

  .wrapper {
    max-width: 1400px;
    display: flex;
    justify-content: space-evenly;

    .picture {
      margin: 8px;
      position: relative;

      &:hover {
        .shadow {
          opacity: 1;
          background-color: rgba(0, 0, 0, 0.4);
          transition: .3s;
        }
      }

      .shadow {
        position: absolute;
        height: 99%;
        width: 100%;
        opacity: 0;
        transition: .3s;

        .button-field {
          display: flex;
          height: 92%;
          flex-direction: column;
          align-items: flex-end;
          justify-content: space-between;
          width: 96%;
          position: absolute;
          top: 4%;
          right: 4%;

          button {
            outline: 0;
            border: 0;
            border-radius: 4px;
            height: 32px;
            width: 39px;
            padding: 0 11px 0 11px;
            cursor: pointer;
            background-color: #eee;
            transition: .15s;

            &:hover {
              background-color: white;
              transition: .15s;
            }
          }

          .heart {
            &:hover {
              color: #d00000;
              transition: .15s;
            }
          }

          .active-heart {
            color: white;
            background-color: #d00000;
            transition: .15s
          }
        }
      }
    }
  }
}
