<nav>
  <form #form="ngForm"
        [ngStyle]="{'background-color': formColor}"
        (ngSubmit)="submit(form)">
    <button routerLink="/search">
      <fa-icon [icon]="faSearch"></fa-icon>
    </button>
    <input placeholder="Search free high-resolution photos"
           name="search"
           ngModel
           type="text"
           maxlength="25"
           (focus)="formColorWhite()"
           (focusout)="formColorGrey()">
  </form>
  <button id="home" routerLink="/main">Home</button>
</nav>
<div class="wall">
  <div class="categories">
    <button>Architecture</button>
    <button>Experimental</button>
    <button>Fashion</button>
    <button>Film</button>
    <button>Nature</button>
    <button>People</button>
  </div>
</div>
