<div class="main">
  <div class="wrapper">
    <div>
      <div class="picture"
           *ngFor="let item of data?.slice(0, data.length / 3); index as i">
        <div class="shadow">
          <div class="button-field">
            <button class="heart">
              <fa-icon [icon]="faHeart"></fa-icon>
            </button>
            <button>
              <a style="color:black"
                 href="https://unsplash.com/photos/{{item.id}}/download?force=true">
                <fa-icon [icon]="faArrowDown"></fa-icon>
              </a>
            </button>
          </div>
        </div>
        <img src="{{item.urls.small}}" alt="">
      </div>
    </div>
    <div>
      <div class="picture"
           *ngFor="let item of data?.slice(data.length / 3, -data.length / 3); index as i">
        <div class="shadow">
          <div class="button-field">
            <button class="heart">
              <fa-icon [icon]="faHeart"></fa-icon>
            </button>
            <button>
              <a style="color:black"
                 href="https://unsplash.com/photos/{{item.id}}/download?force=true">
                <fa-icon [icon]="faArrowDown"></fa-icon>
              </a>
            </button>
          </div>
        </div>
        <img src="{{item.urls.small}}" alt="">
      </div>
    </div>
    <div>
      <div class="picture"
           *ngFor="let item of data?.slice(data.length / 3 * 2); index as i">
        <div class="shadow">
          <div class="button-field">
            <button class="heart">
              <fa-icon [icon]="faHeart"></fa-icon>
            </button>
            <button>
              <a style="color:black"
                 href="https://unsplash.com/photos/{{item.id}}/download?force=true">
                <fa-icon [icon]="faArrowDown"></fa-icon>
              </a>
            </button>
          </div>
        </div>
        <img src="{{item.urls.small}}" alt="">
      </div>
    </div>
  </div>
</div>
